*{ font-family: 'Open Sans', sans-serif; }
h1, .h1 {
    font-size: 32px;
    margin: 15px 0 25px;
    display: block;
    font-family: Comfortaa, 'sans-serif';
    font-weight: bold;
}
h2, .h2 {
    font-size: 28px;
    margin: 12px 0 20px;
    font-family: Comfortaa, 'sans-serif';
    font-weight: bold;
}
p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.text-center { text-align: center; }
.text-justify { text-align: justify; }
a, a:active, a:visited {
    color: #0094CF;
    text-decoration: underline;
}
a:hover { cursor: pointer; }
section { padding: 60px 0; }