footer {
    background-color: #333;
    border-top: solid 8px #0094CF;
    color: #CCC;
    padding-top: 50px;
    font-size: 14px;
}
footer p {
    font-size: inherit;
}
footer a {
    color: inherit;
}
footer ul {
    list-style: none;
}
footer ul li { margin-bottom: 5px; }
footer ul li a { text-decoration: none; }
footer ul li a:hover { color: #0094CF; }
footer img {
    width: 100%;
    height: auto;
}
footer .row:last-child {
    padding: 40px 0 15px;
    font-size: 12px;
    color: #EEE;
}